body {
  background: #74a7c3;
  color: white;
  text-align: center;
  padding: 50px;
}

.error-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.4em;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #3b5c70;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #2b4758;
}