.clientes-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 tarjetas por fila */
    gap: 15px; /* Espacio entre tarjetas */
    padding: 20px;
    justify-content: center;
}

.persona-card {
    width: 200px;
    background-color: #DAE8F2;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.persona-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tooltip-container img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.persona-nombre {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 8px 0;
}

.btn-ver-mascotas {
    padding: 12px;
    background-color: #3c5b6f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
    transition: background 0.3s;
}

.btn-ver-mascotas:hover {
    background-color: #5e7e92;
}