h2 {
  text-align: center;
}

/* Estilo del botón */
.btn-agregar {
  padding: 8px 12px;
  font-size: 14px;
  background-color: hwb(211 40% 31%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-agregar:hover {
  background-color: #488ea3;
}

/* Estilos del filtro */
.filtro {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtro label {
  font-size: 14px;
  font-weight: bold;
}

.filtro select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del botón */
.btn-registrar {
  background-color: hwb(211 40% 31%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 10px 15px;
  font-size: 16px;
  text-decoration: none;
}

.btn-registrar:hover {
  background-color: #488ea3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-agregar {
  text-decoration: none;
  margin-bottom: 40px;
}

.btn-agregar:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}