h2 {
    text-align: center;
}
.mascotas {
    background-color: rgba(116, 167, 195, 0.5);
    padding: 50px 5%; /* Más padding para que se vea más espaciosa */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: auto; /* Se ajusta al contenido */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10;
    margin: 0 auto;
    max-width: 1200px; 
    margin-bottom: 50px;
}

/* Contenedor que alinea el título a la izquierda y el botón a la derecha */
.mascotas-header {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos: uno a la izquierda y otro a la derecha */
    align-items: center; /* Alinear verticalmente */
    width: 100%;
}

/* Estilo del título */
.mascotas h2 {
    font-size: 24px;
    margin: 0;
}

/* Estilo del botón */
.btn-agregar {
    padding: 8px 12px;
    font-size: 14px;
    background-color:  hwb(211 40% 31%) ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-agregar:hover {
    background-color:#488ea3;
}

/* Estilos del filtro */
.filtro {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filtro label {
    font-size: 14px;
    font-weight: bold;
}

.filtro select {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
/* Contenedor del botón en la parte inferior */
.mascotas-footer {
    width: 100%;
    margin-top: 20px; /* Separación del contenido */
    display: flex;
    justify-content: center; /* Centrar el botón */
}

/* Estilos del botón */
.btn-registrar {
    background-color:  hwb(211 40% 31%) ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
}

.btn-registrar:hover {
    background-color: #488ea3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-agregar {
    text-decoration: none;
    margin-bottom: 40px;
}

.btn-agregar:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}