<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Mascota</title>
    <link rel="stylesheet" th:href="@{/css/detalle_mascota.css}">
</head>
<body>
<div class="container">
    <h1>Detalle de Mascota</h1>
    <div class="content">
        <div class="datos">
            <div class="dato">
                <span class="label">Nombre:</span>
                <span class="info" th:text="${mascota.nombre}"></span>
            </div>
            <div class="dato">
                <span class="label">Raza:</span>
                <span class="info" th:text="${mascota.raza}"></span>
            </div>
            <div class="dato">
                <span class="label">Edad:</span>
                <span class="info" th:text="${mascota.edad}"></span>
            </div>
            <div class="dato">
                <span class="label">Peso:</span>
                <span class="info" th:text="${mascota.peso}"></span>
            </div>
            <div class="dato">
                <span class="label">Enfermedad:</span>
                <span class="info" th:text="${mascota.enfermedad}"></span>
            </div>
        </div>
        <div class="img-container">
            <img th:src="${mascota.foto}" alt="Foto de la mascota"/>
        </div>
    </div>
    <a href="/mascota">Volver a la lista</a>
</div>
</body>
</html>