<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mascotas</title>
    <link rel="stylesheet" th:href="@{/css/tabla_mascotas.css}">
</head>
<body>
<h1>Lista de Mascotas</h1>
<div class="button-container">
    <a href="/mascota" class="btn-agregar">Agregar Mascota</a>
</div>
<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Edad</th>
        <th>Peso</th>
        <th>Enfermedad</th>
        <th>Foto</th>
        <th>Estado</th>
        <th>Detalles</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mascota : ${mascotas}">
        <td th:text="${mascota.nombre}"></td>
        <td th:text="${mascota.raza}"></td>
        <td th:text="${mascota.edad}"></td>
        <td th:text="${mascota.peso}"></td>
        <td th:text="${mascota.enfermedad}"></td>
        <td><img th:src="${mascota.foto}" alt="Foto" width="50"></td>
        <td th:text="${mascota.estado == 1 ? 'Activa' : 'Inactiva'}"></td>
        <td><a th:href="@{/mascota/mascotas/{id}(id=${mascota.idMascota})}">Ver detalles</a></td>
        <td>
            <a th:href="@{/mascota/editar/{id}(id=${mascota.idMascota})}" class="btn-editar">Editar</a>
            <form th:action="@{/mascota/eliminar/{id}(id=${mascota.idMascota})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn-eliminar">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
