<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de veterinario</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="https://i.postimg.cc/4yjfvPcB/logo2.png" alt="Logo" />
        <span class="logo-text">Beagle Giggle</span>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a th:href="@{/index}">Inicio</a></li>
          <li><a th:href="@{/index#servicios}">Servicios</a></li>
          <li><a th:href="@{/index#conocenos}">Conócenos</a></li>
          <li><a th:href="@{/index#contactanos}">Contáctanos</a></li>
      </ul>
      </nav>
    </header>

    <section class="formularioLogin">
      <div class="formularioContainer">
        <h2>Registrar</h2>
        <form
          th:if="${veterinario != null}"
          th:action="@{/veterinario/editar/{id}(id=${veterinario.idVeterinario})}"
          method="POST"
          th:object="${veterinario}"
        >
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            th:field="*{nombre}"
            placeholder="Ingrese nombre completo"
            required
          />

          <label for="cedula">Cédula:</label>
          <input
            type="text"
            id="cedula"
            name="cedula"
            th:field="*{cedula}"
            placeholder="Escriba la cédula"
            required
          />

          <label for="username">Usuario:</label>
          <input
            type="text"
            id="username"
            name="username"
            th:field="*{username}"
            placeholder="Escriba un nombre de usuario"
            required
          />

          <label for="password">Contraseña:</label>
          <input
            type="password"
            id="password"
            name="password"
            th:field="*{password}"
            placeholder="Cree una contraseña"
            required
          />

          <label for="especialidad">Especialidad:</label>
          <select
            id="especialidad"
            name="especialidad"
            th:field="*{especialidad}"
            required
          >
            <option value="cirugia">Cirugía</option>
            <option value="medicina_general">Medicina General</option>
            <option value="dermatologia">Dermatología</option>
            <option value="oftalmologia">Oftalmología</option>
            <option value="odontologia">Odontología</option>
            <option value="oncologia">Oncología</option>
            <option value="cardiologia">Cardiología</option>
          </select>

          <button type="submit">Guardar</button>
        </form>
      </div>
    </section>
    <footer>
      <section class="footer-container">
        <div class="footer-info">
          <!-- Sección de Servicios -->
          <div class="footer-section">
            <h3>Servicios</h3>
            <ul>
              <li>Consulta médica</li>
              <li>Cirugía</li>
              <li>Hospitalización</li>
              <li>Monitoreo</li>
              <li>Vacunación</li>
              <li>Laboratorio clínico</li>
            </ul>
          </div>
    
          <!-- Logo en el centro -->
          <div class="footer-logo">
            <img src="https://i.postimg.cc/zH1YsdSN/logo.png" alt="Logo" />
            <div class="social-links">
              <a href="https://meta.com/beaglegiggle" target="_blank" title="Meta">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="Meta" />
              </a>
              <a href="https://www.instagram.com/beaglegiggle" target="_blank" title="Instagram">
                <img src="https://i0.wp.com/eltallerdehector.com/wp-content/uploads/2022/06/2a008-logo-instagram-icono.png?fit=512%2C512&ssl=1" alt="Instagram" />
              </a>
              <a href="https://www.x.com/in/beaglegiggle" target="_blank" title="X">
                <img src="https://images.freeimages.com/image/large-previews/f35/x-twitter-logo-on-black-circle-5694247.png" alt="X" />
              </a>
            </div>
          </div>
    
          <!-- Sección de Información -->
          <div class="footer-section">
            <h3>Información</h3>
            <ul>
              <li>(+57) 3194479483</li>
              <li>Calle 12A #78 - 34</li>
              <li>beaglegiggle@atencion.com</li>
              <li>www.beaglegiggle.com</li>
            </ul>
          </div>
        </div>
    
        <div class="footer-copyright">
          © 2025 BeagleGiggle. Todos los derechos reservados.
        </div>
      </section>
    </footer>    
    <script th:src="@{js/login.js}"></script>
  </body>
</html>